/*SOMMAIRE
-------------------------------------------------------
1. MISE EN PAGE GÉNÉRALE 
2. PARTIE DU HAUT (HEADER)
3. PARTIE DU BAS (FOOTER)
4. RESPONSIVE DESIGN
*/


/*1.MISE EN PAGE GÉNÉRALE*/
body{
    width: 100%;
    margin: auto;
}
#container{
    display: flex;
    flex-direction: column;
}
header{    
    background-color: rgb(17, 126, 99);
    opacity: 0.7;
    left: 0; right: 0; top: 0;
    display: flex;
    justify-content: center;
}
.fas{
    color: rgb(231, 125, 125); 
    font-size: 2em;  
}
.btn{
    width: 15%;
    height: 35px;
    margin: auto;
    margin-bottom: 100px;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00897B;
    border-radius: 15px;
    box-shadow: 1px 1px 12px #555;
}
.btn:after {
    display: inline-block;
    width: 20px;
    -ms-animation: dotty steps(1,end) 1s infinite;
            animation: dotty steps(1,end) 1s infinite;
    content: '';
  }
  
  @-ms-keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
  }
  
  @keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
  }
  /*Animation qui fait zoom sur l'image*/
  .menu1{
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    transition: all 1s ease;
    }
    .menu1:hover {
    /* L'image est grossie de 25% */
    transform:scale(1.25);
    }
    .menu2{
        transition: all 1s ease;
        }
        .menu2:hover {
        transform:scale(1.25);
        }
        .menu3{
            transition: all 1s ease;
            }
            .menu3:hover {
            transform:scale(1.25);
            }
            .menu4{
                transition: all 1s ease;
                }
                .menu4:hover {
                transform:scale(1.25);
                }
a{
    text-decoration: none;
    color: rgb(238, 171, 28);   
}
section{
    display: flex;
    flex-flow: wrap row; 
    justify-content: space-around;
   
    margin: 70px;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 350px;
    height: 450px;
    margin-bottom: inherit;
    box-shadow: 1px 1px 12px rgb(184, 184, 184);
}
/*Titres*/
h1{
    font-family: 'Prompt', sans-serif;
    color: rgb(238, 171, 28);
}
.menu1 h3{
    margin: 0;
    font-family: 'Itim', sans-serif;
}
.menu2 h3{
    margin: 0;
    font-family: 'PT Serif', sans-serif;
}
.menu3 h3{
    margin: 0;
    font-family: 'Kalam', sans-serif;
}
.menu4 h3{
    margin: 0;
    font-family: 'Kalam', sans-serif;
}
.menu1{
    font-family: 'La Belle Aurore', sans-serif;
    background-color:rgb(248, 218, 218); 
    color: #000;    
}
.menu2{
    font-family: 'Croissant One', sans-serif;
    background-color: rgb(250, 239, 250);
}
.menu3{
    font-family: 'Dancing Script', sans-serif;   
    background-color: rgb(245, 245, 245);  
}
.menu4{
    font-family: 'Kaushan Script', sans-serif; 
    background-color: #fff;    
}
/*Dégradé de couleurs*/
.gradient {
    font-size: 1em;
    display: inline-block;
    background: transparent;
    color: black;
    position: relative;
  }
  
  .gradient::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(left, #808, #008);
    background: linear-gradient(to right, #808, #008);
    content: '';
    display: block;
    mix-blend-mode: screen;
  }

/*2. PARTIE DESCRIPTION MENU*/
.menu_one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 700px;
    height: 900px;
    margin-bottom: inherit;
    margin-top: 0;
    box-shadow: 1px 1px 12px rgb(184, 184, 184);
    font-family: 'La Belle Aurore', sans-serif;
    background-color:rgb(248, 218, 218);     
}
.menu_one h4{
    font-family: 'Kalam', sans-serif;
}
.menu_one hr{
    border: 1px solid black;
    width: 16%;
}
h2{
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 1%;
}


/*3. PARTIE DU BAS (FOOTER)*/
footer{
    background-color: rgb(17, 126, 99);;
    opacity: 0.7;
    position: fixed;
    left: 0; right: 0; bottom: 0;
    height: 60px;
}
.foot div{
    display: flex;
    justify-content: space-between;
}
article ul{
    list-style-type: none;
    padding-left: 0px;
    font-weight: 400;
}
article ul li:nth-child(4){
    font-weight: 200;
}
article ul:nth-child(2){
    margin-right: 70px;
}
article ul:nth-child(1){
    margin-left: 70px;
}


/*4. RESPONSIVE DESIGN*/
@media screen and (min-width: 1981px) {
    body{
        max-width: 100%;
    }
    main{
        display: flex;
    }
    section{
        flex:4;
    }
    aside {
        flex:1;
    }
    article {
        box-shadow: 0px 0px 10px 0px rgba(199,199,199,1);
        margin-right: 30px;
        border-radius:7px;
        padding: 30px;
    }
}
/* Masquer la photo du header sur écran > que les tablettes */
@media screen and (min-width: 900px) {
    header img{
        display:none;
    }
}
/* Tablettes */
@media screen and (max-width: 991px) {
    #container{
        flex-direction: column;
    }
    h1{
        font-size:3.4em;
        margin-top:50px;
    }
    section{
        padding:20px;
    }
    article ul:nth-child(2){
        margin-right:0;
    }
    address{
        display: flex;
    }
    header{
        text-align: center;
        padding-top:30px;
    }
    header hr{
        display:flex;
        margin:auto;
    }
    header img{
        border-radius: 300px;
        display: flex;
        margin: auto;
    }
    aside{
        padding-top: 0;
    }
    aside h3:first-child{
        margin-top: 0;
    }
    aside img{
        display: none;
    }
}

/* Téléphone */
@media screen and (max-width: 425px) {
    .part_right {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 10px 0px rgba(199,199,199,1);
        padding: 10px;
        margin-bottom: 15px;
        border-radius:7px;
    }
    header {
        margin-bottom: 50px;
    }
    h1 {
        font-size: 2.2em;
    }  
    .text_recommandations div {
        flex-direction: column;
        box-shadow: 0px 0px 10px 0px rgba(199,199,199,1);
        padding: 10px;
        margin-bottom: 15px;
        border-radius:7px;
    }
    address{
        flex-direction: column;
    }
    header img{
        max-width:150px;
    }
}
