/*SOMMAIRE
-------------------------------------------------------
1. PAGE DE GARDE 
2. MENU 1, MENU 2, MENU 3, MENU 4
3. RESPONSIVE DESIGN
*/


/*1.PAGE DE GARDE*/
body{
    width: 100%;
    margin: auto;
}
#container{
    display: flex;
    flex-direction: column;
}
header{    
    background-color: rgb(17, 126, 99);
    opacity: 0.7;
    margin: 0 0 0 0;
    height: 70px;
}
.fas{
    color: rgb(231, 125, 125); 
    font-size: 2em;  
}
/*Animation du bouton*/
.btn{
    width: 15%;
    height: 35px;
    margin: auto;
    margin-bottom: 100px;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 126, 99);
    border-radius: 15px;
    box-shadow: 1px 1px 12px #555;
    color: rgb(238, 171, 28);
}
.btn:after {
    display: inline-block;
    width: 20px;
    -ms-animation: dotty steps(1,end) 1s infinite;
            animation: dotty steps(1,end) 1s infinite;
    content: '';
  }
  
  @-ms-keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
  }
  
  @keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}
/*Animation du zoom sur l'image*/
.menu1{
    /*La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde.*/
    transition: all 1s ease;
    }
    .menu1:hover {
    /*L'image est grossie de 25%*/
    transform:scale(1.25);
    }
    .menu2{
        transition: all 1s ease;
        }
        .menu2:hover {
        transform:scale(1.25);
        }
        .menu3{
            transition: all 1s ease;
            }
            .menu3:hover {
            transform:scale(1.25);
            }
            .menu4{
                transition: all 1s ease;
                }
                .menu4:hover {
                transform:scale(1.25);
                }
a{
    text-decoration: none;
    color: rgb(238, 171, 28);   
}
section{
    display: flex;
    flex-flow: wrap row; 
    justify-content: space-around;
    margin: 80px 135px 80px 135px;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 410px;
    height: 510px;
    margin-bottom: inherit;
    box-shadow: 1px 1px 12px rgb(184, 184, 184);
}

/*Titres et mise en page*/
.index1{
    font-family: 'Prompt', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 0 0;
}
.index{
    font-family: 'Prompt', sans-serif;
    margin: 0 0 0;
}
h1{
    font-family: 'Itim', sans-serif;
}
h2{
    font-weight: lighter;
}
p span{
    color: #000;
    font-weight: 1000;
}
.article1 span{
    color: rgb(207, 106, 47);}
.article1{
    color: rgb(207, 106, 47);}
.article2 span{
    color: rgb(194, 84, 139);}
.article2{
    color: rgb(194, 84, 139);}
.article3 span{
    color: rgb(100, 41, 194);}
.article3{
    color: rgb(100, 41, 194);}
.menu1{
    font-family: 'Devonshire', cursive, sans-serif;
    background-color:rgb(248, 218, 218); 
    color: #000;
    font-size: 1.5em;    
}
.menu2{
    font-family: 'Croissant One', sans-serif;
    background-color: rgb(250, 239, 250);
    font-size: 1.5em;
}
.menu3{
    font-family: 'Dancing Script', sans-serif;   
    background-color: rgb(245, 245, 245);  
    font-size: 2em;
    margin-bottom: 0;
}
.menu4{
    font-family: 'Kaushan Script', sans-serif; 
    background-color: #fff;  
    font-size: 2em; 
    margin-bottom: 0; 
}
.menu1 h3{
    margin: 0;
    font-family: 'Itim', sans-serif;
    text-transform: uppercase;
}
.menu2 h3{
    margin: 0;
    font-family: 'PT Serif', sans-serif;
    color: rgb(207, 106, 47);
}
.menu3 h3{
    margin: 0;
    font-family: 'Kalam', sans-serif;
    color: rgba(24, 84, 248);
}
.menu4 h3{
    margin: 0;
    font-family: 'Kalam', sans-serif;
    color: rgb(72, 117, 87);
}
/*Dégradé de couleurs*/
.gradient1 {
    font-size: 1.1em;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(217deg, rgb(117, 44, 253, 1), rgba(207, 106, 47) 70.71%),
                linear-gradient(127deg, rgba(243, 198, 86, 1), rgba(160, 110, 214, 1) 70.71%),
                linear-gradient(336deg, rgb(102, 86, 243), rgb(214, 110, 214) 70.71%);
}
.gradient2 {
    font-size: 1.1em;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(217deg, rgba(54, 199, 243), rgba(24, 84, 248, 1) 70.71%),
                linear-gradient(127deg, rgba(67, 193, 252), rgba(243, 198, 86, 1) 70.71%),
                linear-gradient(336deg, rgba(86, 193, 243), rgba(110, 167, 214, 1) 70.71%);
}
.gradient3 {
    font-size: 1.1em;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to left, rgba(178, 253, 155, 1) 28%, rgb(72, 117, 87));}

/*Footer*/
footer{
    background-color: rgb(17, 126, 99);;
    opacity: 0.7;
    position: fixed;
    left: 0; right: 0; bottom: 0;
    height: 60px;
}
.foot div{
    display: flex;
    justify-content: space-between;
}
div ul{
    list-style-type: none;
    padding-left: 0px;
    padding-top: 5px;
    font-weight: 400;
}
/*div ul li:nth-child(4){
    font-weight: 200;
}*/
div ul:nth-child(2){
    margin-right: 70px;
}
div ul:nth-child(1){
    margin-left: 70px;
}

/*2.MENU 1*/
.menu_one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 800px;
    height: 950px;
    margin-bottom: inherit;
    box-shadow: 1px 1px 12px rgb(184, 184, 184);
    font-family: 'La Belle Aurore', sans-serif;
    background-color:rgb(248, 218, 218);     
}
.menu_one h3{
    font-family: 'Itim', sans-serif;
    margin: 0 0 0;
}
.page{
    margin-top: 0;
    margin-bottom: 65px;
    font-size: 1.1em;
}
/*MENU 2*/
.menu_two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 800px;
    height: 700px;
    margin-bottom: inherit;
    margin-top: 0;
    box-shadow: 1px 1px 12px rgb(184, 184, 184);
    background-color:rgb(250, 239, 250); 
    font-family: 'Croissant One', sans-serif;   
}
.menu_two hr{
    border: 1px solid black;
    width: 16%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
/*MENU 3*/
.menu_three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 800px;
    height: 700px;
    margin-bottom: inherit;
    margin-top: 0;
    box-shadow: 1px 1px 12px rgb(184, 184, 184);
    background-color:rgb(245, 245, 245);     
}
.menu_three hr{
    border: 1px solid black;
    width: 16%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
/*MENU 4*/
.menu_four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 800px;
    height: 700px;
    margin-bottom: inherit;
    margin-top: 0;
    box-shadow: 1px 1px 12px rgb(184, 184, 184);
    background-color:rgb(245, 245, 245);     
}
.menu_four hr{
    border: 1px solid black;
    width: 16%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
/*Soulignement au survol de la souris*/
.page a {
    display: inline;
    position: relative;
    color: #000;
    text-decoration: none;
}
.page a:after {
content: '';
display: block;
position: absolute;
bottom: 0;
width: 0%;
left: 0px;
height: 2px;
transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
background: #000;
}
.page a:hover:after {
    width: 100%;
}
/*Insertion des traits gauche et droite*/
.page h3:before, .page h3:after {
    content:''; 
    display:inline-block; 
    vertical-align: middle; 
    width: 8rem; 
    height: 2px; 
    background: #000;
}
.page h3:before { margin-right: 3rem }
.page h3:after { margin-left: 3rem }


/*4. RESPONSIVE DESIGN*/
@media screen and (min-width: 1981px) {
    body{
        max-width: 100%;
    }
    main{
        display: flex;
    }
    section{
        flex:2;
    }
    header{
        flex:1;
    }
    article{
        box-shadow: 0px 0px 10px 0px rgba(199,199,199,1);
        margin-right: 10px;
        border-radius:7px;
        padding: 0;
    }
}
/* Tablettes pro */
@media screen and (max-width: 1336px) {
    body{
        max-width: 100%;
    }
    header{
        text-align: center;
        padding-top:30px;
    }
    .foot div{
        display: flex;
        justify-content: space-between;
    }
}
/* Tablettes */
@media screen and (max-width: 991px) {
    #container{
        flex-direction: column;
    }
    header{
        text-align: center;
        padding-top:30px;
    }
    h1{
        font-size:2em;
        margin-top: 0;
    }
    section{
        margin: 25px;
    }
    .foot div{
        display: flex;
        justify-content: space-between;
    }
}

/* Téléphone */
@media screen and (max-width: 425px) {
    #container{
        flex-direction: column;
    }
    header{
        text-align: center;
    }
    h1{
        font-size:2em;
        margin-top: 0;
    }
    .foot div{
        display: flex;
        justify-content: space-between;
        padding-left: 0;
    }

    .btn{
        padding: 6px 35px;
    }
}
